/* index.css */
@import "tailwindcss";

@font-face {
  font-family: 'Super Wonder';
  src: url('/fonts/Super Wonder.woff') format('woff'),
       url('/fonts/Super Wonder.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}


body {
  font-family: 'Super Wonder', sans-serif;
  background-image: url('/images/background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  background-color: #064e3b; 
}

/* --- CLASE MAESTRA --- */
.moni-panel {
  background: rgba(18, 77, 63, 0.72);
  backdrop-filter: transparent(6px);
  border: 1px solid rgba(16,185,129,.25);
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,.35);
  transition: transform .2s ease, box-shadow .2s ease;
}

/* Títulos: Quitamos el unset !important para que el amarillo de Tailwind funcione */
h1, h2, h3 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

p, li, label {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.95);
}